<<<<<<< Updated upstream
.navbar{
=======
.navbar {
>>>>>>> Stashed changes
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(44, 57, 48, 0);
    justify-content: space-around;
    transition: background-color 0.4s ease-in-out;
    z-index: 100;
}

<<<<<<< Updated upstream
.navbar.scrolled{
    background-color: rgba(44, 57, 48, 1);
}

.nav-items{
=======
.navbar.scrolled {
    background-color: rgba(44, 57, 48, 1);
}

.nav-items {
>>>>>>> Stashed changes
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< Updated upstream
.nav-items > li:hover{
    cursor: pointer;
    color: white;
=======
.nav-items>li:hover {
    cursor: pointer;
    color: white;
}

/* Navlink Hover animation */

.nav-items >li {
    text-decoration: none;
    position: relative;
}

.nav-items >li::before,
.nav-items >li::after {
    content: "";
    position: absolute;
    background-color: #A6A6A6;
    width: 0%;
    height: 2px;
    bottom: 0;
    transition: width 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-items >li::before {
    left: 0;
}

.nav-items >li::after {
    right: 0;
}

/* Hover effect */
.nav-items >li:hover::before,
.nav-items >li:hover::after {
    width: 110%;
}

/* Keep underline for active link */
.active-link::before,
.active-link::after {
    width: 100%;
    background-color: #C29D69;
    /* Match your active color */
>>>>>>> Stashed changes
}