.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(44, 57, 48, 0);
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
    z-index: 100;
}

.navbar.scrolled {
    background-color: rgba(44, 57, 48, 1);
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items>li:hover {
    cursor: pointer;
    color: white;
}

.mobile-menu-icon {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(38, 38, 38, 0.9);
        padding: 1rem;
    }

    .mobile-menu {
        display: flex;
    }

    .mobile-menu-icon {
        display: block;
    }
}
